*{
    margin: 0 auto;
}

.container{
    background-image: url(normal/home-bg.jpg);
    font-family: sans-serif;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 25px;
}

.box{
    display: flex;
    justify-content: space-between;
}

.box ul li{
    display: inline;
    margin: 10px;
}
.box ul li a{
text-decoration: none;
color: black;
}

.tex{
    color: blue;
}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.text h1{
    font-size: 28px;
    line-height: 35px;
}

.text p{
    font-family: 5px;
}